In [ ]:
!pip install --q imbalanced-learn
!pip install fosforml 
!pip install fosforio
!pip install seaborn

In [1]:
# Statitics and Basic data support
from scipy.stats.mstats import winsorize
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Modeling Training and Tunning
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, OneHotEncoder, OrdinalEncoder, StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report,precision_score, recall_score, f1_score,log_loss, roc_auc_score,roc_curve, precision_recall_curve
from xgboost import XGBClassifier
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

# Imbalance Handling
from imblearn.over_sampling import SMOTE

# Addititional
from collections import Counter
import joblib

# Fosforml
from fosforml import register_model
from fosforml.constants import MLModelFlavours
from fosforml.model_manager.snowflakesession import get_session

# Warnings
import warnings
warnings.filterwarnings("ignore", message="numpy.dtype size changed")
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")

In [2]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [3]:
df = 'EMPLOYEE_ATTRITION_MASTERTABLE'

In [4]:
sf_df = my_session.sql("select * from {}".format(df))
df = sf_df.to_pandas()

In [5]:
print(df.isnull().sum())

ROLE                                  0
LINE_OF_BUSINESS                      0
DELIVERY_UNIT                         0
PRACTICE_UNIT                         0
EMPLOYMENT_TYPE                       0
OVERTIME_HOURS                        0
AVERAGE_PERCENTAGE_SALARY_HIKE        0
AVERAGE_PERFORMANCE_RATING            0
JOB_STARTDATE                         0
JOB_ENDDATE                       74811
CHURN                                 0
TENURE_MONTHS                         0
DISTANCE                              0
TURNOVER_REASONS                      0
SHIFT                                 0
JOB_SATISFACTION                      0
EMPLOYEE_ID                           0
SALARY_INR                            0
SALARY_RANGE                          0
SALARY_LEVEL                          0
OVER_TIME                             0
BIRTH_YEAR                            0
AGE                                   0
QUALIFICATION                         0
ETHNICITY                             0
MARITAL_STATUS                        0
GENDER                                0
CONTINENT                             0
COUNTRY                               0
STATE                                 0
CITY                                  0
LATITUDE                              0
LONGITUDE                             0
dtype: int64

In [6]:
Original_df = df

In [7]:
Original_df

,ROLE,LINE_OF_BUSINESS,DELIVERY_UNIT,PRACTICE_UNIT,EMPLOYMENT_TYPE,OVERTIME_HOURS,AVERAGE_PERCENTAGE_SALARY_HIKE,AVERAGE_PERFORMANCE_RATING,JOB_STARTDATE,JOB_ENDDATE,...,QUALIFICATION,ETHNICITY,MARITAL_STATUS,GENDER,CONTINENT,COUNTRY,STATE,CITY,LATITUDE,LONGITUDE
0,Senior Vice President,Insurance,Digital and Analytics,Data Analytics,Full-time,12,2,1,2020-05-31,2023-10-20,...,Other,Caucasian,Married,Male,Europe,Europe,Finland,Espoo,60.2055� N,24.6559� E
1,Principal,Energy,Cloud and Infrastructure Services,Cloud Migration,Full-time,24,2,1,2006-10-31,2008-04-14,...,Masters Degree,Asian,Single,Female,Asia-Pacific,Australia,New South Wales,Sydney,33.8688� S,151.2093� E
2,Managing Director,Insurance,Consulting,Technology Consulting,Full-time,18,4,1,2006-08-31,2009-08-03,...,Doctoral Degree,African,Single,Female,Middle East and Africa,United Arab Emirates,Dubai,Dubai City,25.2048� N,55.2708� E
3,Consultant,Manufacturing,Digital and Analytics,Artificial Intelligence,Full-time,24,6,3,2010-01-31,2010-10-04,...,Masters Degree,Caucasian,Married,Male,Middle East and Africa,United Arab Emirates,Dubai,Dubai City,25.2048� N,55.2708� E
4,Senior Director,Energy,Consulting,Technology Consulting,Full-time,12,4,1,2015-04-30,2019-10-07,...,Professional Degree,Asian,Married,Female,North America,United States,Ohio,Cincinnati,39.1031� N,84.5120� W
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,Senior Director,Travel Transportation and Hospitality (TTH),Enterprise Application Services,ERP Solutions,Full-time,8,2,2,2018-02-28,2022-05-10,...,Associates Degree,African American,Single,Male,North America,Canada,Ontario,Mississauga,43.5890� N,79.6441� W
299996,Manager,Insurance,Consulting,Strategic Consulting,Full-time,24,2,1,2002-02-28,2002-05-13,...,Bachelors Degree,Middle Eastern,Married,Female,Middle East and Africa,United Arab Emirates,Dubai,Dubai City,25.2048� N,55.2708� E
299997,Consultant,Manufacturing,Digital and Analytics,Digital Transformation,Internship,12,8,1,2004-04-30,2004-10-22,...,Bachelors Degree,Caucasian,Single,Male,Middle East and Africa,United Arab Emirates,Dubai,Dubai City,25.2048� N,55.2708� E
299998,Manager,Energy,Consulting,Business Process Consulting,Full-time,24,6,2,2013-04-30,2015-08-21,...,Masters Degree,Caucasian,Married,Male,Europe,Europe,France,Puteaux,48.8848� N,2.2399� E
299999,Software Engineer,Retail and Consumer Goods,Enterprise Application Services,CRM Solutions,Full-time,24,6,3,2004-05-31,2006-09-19,...,Professional Degree,Asian,Married,Male,Europe,Europe,Germany,Frankfurt,50.1109� N,8.6821� E