In [ ]:
!pip install fosforml 
!pip install fosforio

In [1]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [2]:
df = 'EMPLOYEE_ATTRITION_MASTERTABLE'

In [3]:
sf_df = my_session.sql("select * from {}".format(df))
df = sf_df.to_pandas()

In [5]:
df

,ROLE,LINE_OF_BUSINESS,DELIVERY_UNIT,PRACTICE_UNIT,EMPLOYMENT_TYPE,OVERTIME_HOURS,AVERAGE_PERCENTAGE_SALARY_HIKE,AVERAGE_PERFORMANCE_RATING,JOB_STARTDATE,JOB_ENDDATE,...,QUALIFICATION,ETHNICITY,MARITAL_STATUS,GENDER,CONTINENT,COUNTRY,STATE,CITY,LATITUDE,LONGITUDE
0,Senior Vice President,Insurance,Digital and Analytics,Data Analytics,Full-time,12,2,1,2020-05-31,2023-10-20,...,Other,Caucasian,Married,Male,Europe,Europe,Finland,Espoo,60.2055� N,24.6559� E
1,Principal,Energy,Cloud and Infrastructure Services,Cloud Migration,Full-time,24,2,1,2006-10-31,2008-04-14,...,Masters Degree,Asian,Single,Female,Asia-Pacific,Australia,New South Wales,Sydney,33.8688� S,151.2093� E
2,Managing Director,Insurance,Consulting,Technology Consulting,Full-time,18,4,1,2006-08-31,2009-08-03,...,Doctoral Degree,African,Single,Female,Middle East and Africa,United Arab Emirates,Dubai,Dubai City,25.2048� N,55.2708� E
3,Consultant,Manufacturing,Digital and Analytics,Artificial Intelligence,Full-time,24,6,3,2010-01-31,2010-10-04,...,Masters Degree,Caucasian,Married,Male,Middle East and Africa,United Arab Emirates,Dubai,Dubai City,25.2048� N,55.2708� E
4,Senior Director,Energy,Consulting,Technology Consulting,Full-time,12,4,1,2015-04-30,2019-10-07,...,Professional Degree,Asian,Married,Female,North America,United States,Ohio,Cincinnati,39.1031� N,84.5120� W
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,Senior Director,Travel Transportation and Hospitality (TTH),Enterprise Application Services,ERP Solutions,Full-time,8,2,2,2018-02-28,2022-05-10,...,Associates Degree,African American,Single,Male,North America,Canada,Ontario,Mississauga,43.5890� N,79.6441� W
299996,Manager,Insurance,Consulting,Strategic Consulting,Full-time,24,2,1,2002-02-28,2002-05-13,...,Bachelors Degree,Middle Eastern,Married,Female,Middle East and Africa,United Arab Emirates,Dubai,Dubai City,25.2048� N,55.2708� E
299997,Consultant,Manufacturing,Digital and Analytics,Digital Transformation,Internship,12,8,1,2004-04-30,2004-10-22,...,Bachelors Degree,Caucasian,Single,Male,Middle East and Africa,United Arab Emirates,Dubai,Dubai City,25.2048� N,55.2708� E
299998,Manager,Energy,Consulting,Business Process Consulting,Full-time,24,6,2,2013-04-30,2015-08-21,...,Masters Degree,Caucasian,Married,Male,Europe,Europe,France,Puteaux,48.8848� N,2.2399� E
299999,Software Engineer,Retail and Consumer Goods,Enterprise Application Services,CRM Solutions,Full-time,24,6,3,2004-05-31,2006-09-19,...,Professional Degree,Asian,Married,Male,Europe,Europe,Germany,Frankfurt,50.1109� N,8.6821� E

In [8]:
import pandas as pd
from datetime import datetime, timedelta

# Assuming your dataset is in a DataFrame called df
# and has columns 'line_of_business', 'delivery_unit', 'practice_unit', and 'job_end_date'

# Convert job_end_date to datetime
df['JOB_ENDDATE'] = pd.to_datetime(df['JOB_ENDDATE'])

# Define the end date as September 30, 2024
end_date = datetime(2024, 9, 30)
start_date = end_date - timedelta(days=2*365)
df_filtered = df[(df['JOB_ENDDATE'] >= start_date) & (df['JOB_ENDDATE'] <= end_date)]

# Create a DataFrame with all months in the last 2 years
all_months = pd.date_range(start=start_date, end=end_date, freq='MS').to_frame(index=False, name='month')

# Create a DataFrame with all combinations of line_of_business, delivery_unit, practice_unit, and month
unique_combinations = df_filtered[['LINE_OF_BUSINESS', 'DELIVERY_UNIT', 'PRACTICE_UNIT']].drop_duplicates()
all_combinations = unique_combinations.merge(all_months, how='cross')

# Extract year and month from job_end_date
df_filtered['year_month'] = df_filtered['JOB_ENDDATE'].dt.to_period('M')

# Check for missing months
missing_months = all_combinations.merge(
    df_filtered[['LINE_OF_BUSINESS', 'DELIVERY_UNIT', 'PRACTICE_UNIT', 'year_month']],
    how='left',
    left_on=['LINE_OF_BUSINESS', 'DELIVERY_UNIT', 'PRACTICE_UNIT', 'month'],
    right_on=['LINE_OF_BUSINESS', 'DELIVERY_UNIT', 'PRACTICE_UNIT', 'year_month']
)

# Identify missing entries
missing_months = missing_months[missing_months['year_month'].isna()]

# Display missing months
print("Missing months for each line of business, delivery unit, and practice unit:")
print(missing_months[['LINE_OF_BUSINESS', 'DELIVERY_UNIT', 'PRACTICE_UNIT', 'month']])

Missing months for each line of business, delivery unit, and practice unit:
                                 LINE_OF_BUSINESS          DELIVERY_UNIT
0                                       Insurance  Digital and Analytics  \
1                                       Insurance  Digital and Analytics
2                                       Insurance  Digital and Analytics
3                                       Insurance  Digital and Analytics
4                                       Insurance  Digital and Analytics
...                                           ...                    ...
1723  Travel Transportation and Hospitality (TTH)  Digital and Analytics
1724  Travel Transportation and Hospitality (TTH)  Digital and Analytics
1725  Travel Transportation and Hospitality (TTH)  Digital and Analytics
1726  Travel Transportation and Hospitality (TTH)  Digital and Analytics
1727  Travel Transportation and Hospitality (TTH)  Digital and Analytics

               PRACTICE_UNIT                month
0             Data Analytics  2022-10-01 00:00:00
1             Data Analytics  2022-11-01 00:00:00
2             Data Analytics  2022-12-01 00:00:00
3             Data Analytics  2023-01-01 00:00:00
4             Data Analytics  2023-02-01 00:00:00
...                      ...                  ...
1723  Digital Transformation  2024-05-01 00:00:00
1724  Digital Transformation  2024-06-01 00:00:00
1725  Digital Transformation  2024-07-01 00:00:00
1726  Digital Transformation  2024-08-01 00:00:00
1727  Digital Transformation  2024-09-01 00:00:00

[1728 rows x 4 columns]

In [9]:
# Save missing months to a CSV file
missing_months[['LINE_OF_BUSINESS', 'DELIVERY_UNIT', 'PRACTICE_UNIT', 'month']].to_csv('missing_months.csv', index=False)

print("Missing months data has been saved to 'missing_months.csv'")

Missing months data has been saved to 'missing_months.csv'